In [34]:
x = 1
print(x)
print(type(x))
x = 10000000000000000000000000000000000000000000001
print(x)
print(type(x))

1
<class 'int'>
10000000000000000000000000000000000000000000001
<class 'int'>

In [35]:
age = int(input('Please enter your age: '))
print(age)
print(type(age))

22
<class 'int'>

In [36]:
# floating points
exchange_rate = 1.83
print(exchange_rate)
print(type(exchange_rate))

1.83
<class 'float'>

In [37]:
# Convert string to Boolean
status = bool(input('Ok to proceed:'))
print(status)
print(type(status))

False
<class 'bool'>

In [38]:
# the Boolean type is actually a subtype of integer
print(int(True))
print(int(False))
print(bool(1))
print(bool(0))

1
0
True
False

In [39]:
print(100/20)
print(type(100/20))

5.0
<class 'float'>

In [40]:
print(5**2)

25

In [41]:
print(type(10/5))
print(10/5)

<class 'float'>
2.0

In [42]:
# working with an if statement
num = int(input('Enter a number: '))
if num > 0:
    print(num,'is positive')
    print(num,'square is', num*num)
    print('Bye')

5 is positive
5 square is 25
Bye

In [43]:
num = int(input('Enter another number:'))
if num > 0:
    print(num,'is positive')
    print(num,'square is', num**2)
else:
    print(num, 'is negative')
print('Bye')

8 is positive
8 square is 64
Bye

In [44]:
savings = float(input('Enter how much you have in savings: '))
if savings == 0:
    print("Sorry, no savings.")
elif savings < 500 and savings > 0:
    print('Well done.')
elif savings < 1000 and savings >0:
    print('That is quite the balance.')
elif savings < 10000 and savings >0:
    print('Ah, the bourgeoisie!')
else:
    print('Thank you')

Ah, the bourgeoisie!

In [1]:
# nesting if statements
snowing = False
temp = 9
if temp < 65:
    print('It is freezing')
    if snowing:
        print('Put on boots')
        print('Time for Hot Chocolate')
print('Bye')

It is freezing
Bye

In [3]:
count = 0
print('Starting')
while count< 10:
    print(count,'',end=' ')
    count += 1
print ('Done')

Starting
0  1  2  3  4  5  6  7  8  9  Done

In [4]:
print('Print out values in a range')
for i in range(0,10):
    print(i, ' ', end=' ')
print('Done')

Print out values in a range
0   1   2   3   4   5   6   7   8   9   Done

In [5]:
# break loop statements
print('Only print code if all iterations completed')
num = int(input('Enter a number to check for: '))
for i in range(0,6):
    if i==num:
        break
    print(i,' ',end=' ')
print('Done')

Only print code if all iterations completed
0   1   2   3   4   Done

In [10]:
# continue loop statements
for i in range(0,10):
    print(i,'\n')
    if i%2==1:
        continue
    print('hey its an even number')
    print('we love even number')
    
print('Done')

0

hey its an even number
we love even number
1

2

hey its an even number
we love even number
3

4

hey its an even number
we love even number
5

6

hey its an even number
we love even number
7

8

hey its an even number
we love even number
9

Done

In [13]:
# creating a list
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple','banana']
fruits.append('kiwi')
fruits.insert(2,'orange')
fruits

['orange',
 'apple',
 'orange',
 'pear',
 'banana',
 'kiwi',
 'apple',
 'banana',
 'kiwi']

In [15]:
fruits.pop(3)
fruits

['orange', 'apple', 'orange', 'kiwi', 'apple', 'banana']

In [16]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'orange', 'apple', 'orange']

In [18]:
# dictionaries
tel = {'jack':4098, 'sape':4139}
tel

{'jack': 4098, 'sape': 4139}

In [19]:
tel['guido']=4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [20]:
tel['jack']
del tel['sape']
tel

{'jack': 4098, 'guido': 4127}

In [21]:
list(tel)

['jack', 'guido']

In [22]:
sorted(tel)

['guido', 'jack']

In [23]:
knight = {'gallahad':'the pure', 'robin':'the brave'}
for k, v in knight.items():
    print(k,v)

gallahad the pure
robin the brave

In [24]:
thisdict = {'brand':'Ford', "electric":False, "Year":1964, "colors":['red','white','blue']}
thisdict['brand']

'Ford'

In [25]:
thisdict['electric']

False

In [30]:
thisdict['colors'][2]

'blue'